.postContainer {
  max-width: 720px;
  height: calc(100vh - 6.5rem);
  margin: 0 auto;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.banner {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
